.image {
  width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.camperInfo {
  width: 524px;
  height: 320px;
}

.description {
  width: 525px;
  margin: 24px 0;
  overflow: hidden;
  white-space: nowrap;
  color: #475467;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.showBtn {
  margin: 0;
}
