.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 190px;
  border: 1px solid rgb(234, 197, 197);
  border-radius: 30px;
}

.icon {
  width: 200px;
  height: 200px;
  fill: rgb(255, 105, 105);
  margin-bottom: 15px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  animation: spin 3s linear infinite;
}

.link {
  color: rgb(129, 213, 2);
  font-size: 20px;
}

.text {
  font-size: 17px;
}
