.wrapper {
  display: flex;
  align-items: center;
}

.reviewWrapper,
.span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.reviewText {
  text-decoration-line: underline;
}

.reviewText,
.span {
  margin: 0;
  line-height: 1.5;
}

.reviewCount {
  margin-left: 1px;
}

.iconMap,
.iconStar {
  margin-right: 4px;
}
