.page {
  display: flex;
  padding: 48px 64px 80px;
  flex-direction: column;
}

.title {
  margin-bottom: 8px;
}

.price {
  margin: 16px 0 0 0;
}

.description {
  color: #475467;
  line-height: 1.5;
}

.sectionsWrapper {
  display: flex;
  gap: 40px;
}
