.locationWrapper {
  position: relative;
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 40px;
}

.greyText {
  color: #6c717b;
  text-align: start;
  line-height: 24px;
}

.inputLocation {
  display: flex;
  width: 360px;
  height: 56px;
  padding: 18px 48px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 8px;
  gap: 10px;
  border-radius: 12px;
  border: transparent;
  background: #f7f7f7;
}

.inputFocus:focus-visible {
}

.locationIcon {
  position: absolute;
  top: 26px;
  left: 20px;
  fill: #6c717b;
}

.inputLocation:focus + .locationIcon,
.filled {
  fill: #101828;
}

.generalText {
  color: #475467;
  font-weight: 500;
}

.vehicleTitle {
  margin: 32px 0 24px;
  color: #101828;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.bottomLine {
  border-bottom: 1px solid #dadde1;
  margin: 24px 0;
  display: block;
}

.vehicleOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 12px;
  width: 360px;
}

.options {
  position: absolute;
  display: flex;
  align-items: center;
  mix-blend-mode: multiply;
  margin: 41px 50px;
  visibility: hidden;
}

.optionLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 96px;
  border-radius: 12px;
  border: 1px solid #dadde1;
  mix-blend-mode: multiply;
  text-align: center;
  cursor: pointer;
}

.options:checked + .optionLabel {
  border: 1px solid #e44848;
}

.optionsGap {
  margin-top: 8px;
}

.optionsGap:nth-child(2) {
  padding: 0 16px;
}
