.galleryWrapper {
  display: flex;
  gap: 48px;
  margin: 28px 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.galleryItem {
  background-color: #f2f4f7;
  border-radius: 10px;
}

.image {
  width: 292px;
  height: 312px;
  object-fit: cover;
  border-radius: 10px;
}
