.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #101828;
  overflow: hidden;
  white-space: nowrap;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}