.wrapper {
  border-bottom: 1px solid #dadde1;
  margin-top: 60px;
  margin-bottom: 44px;
}

.btn {
  display: inline-block;
  margin-right: 40px;
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  border: none;
  background: transparent;
}

.active {
  border-bottom: solid 5px #e44848;
}
