.wrapper {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.input {
  width: 527px;
  height: 60px;
  padding: 18px;
  border-radius: 12px;
  background: #f7f7f7;
  border-color: transparent;
  outline: transparent;
}

.btn {
  align-self: center;
}

.btn button {
  margin-top: 10px;
}

.calendar {
  width: 276px;
  height: 274px;
}

.textarea {
  height: 118px;
  resize: none;
}
